header {
  background-color: black;
  text-align: center; 
}
.white {
  color: bisque;
}
p {
    text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}
h3 {
  font-size: 25px;
  text-align: center;
}
h4 {
  font-size: 20px;
  text-align: center;
}
.subheader {
  font-weight: bold;
  font-size: 20px;
}
* {
  font-family: sans-serif;
}
#footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.button {
  background-color: bisque;
  color: black;
  border: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin: 10px;
}
#sections { 
  width: 50%;
  background-color: bisque;
  border: 1px solid black; 
  padding: 10px; 
}
#section_wrapper {
  display: flex;
  gap: 20px;
}
img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}